:root {
  /* txt-color (cl)*/
  --basic-white-txt-cl: #ffffff;
  --navyblue-dark-txt-cl: #2e2f42;
  --slate-txt-cl: #434455;
  --pressed-txt-cl: #404bbf;
  --primary-txt-cl: #4d5ae5;
  --accent-txt-cl: #e7e9fc;
  --cloud-light-txt-cl: #f4f4fd;
  --grey-txt-cl: #8e8f99;

  /* Background-color (bg-cl) */
  --basic-white-bg-cl: #ffffff;
  --navyblue-dark-bg-cl: #2e2f42;
  --cloud-light-bg-cl: #f4f4fd;
  --pressed-bg-cl: #404bbf;
  --primary-bg-cl: #4d5ae5;
  --green-bg-cl: #31d0aa;
  --border-cl: #8e8f99;
  --accent-bg-cl: #e7e9fc;
  --modal-bg-cl: #fcfcfc;
  --backdrop-bg-cl: rgba(46, 47, 66, 0.4);

  /* logo-color */
  --primary-logo-cl: #4d5ae5;
  --logo-light-color: #f4f4fd;

  /* fonts */
  --basic-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;

  /* card-set */
  --ident: 24px;
  --items: 3;

  /* animation time */
  --transit: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*======= Reset style =======*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

/*########## Basic style ##########*/
body {
  background-color: var(--basic-white-bg-cl);

  font-family: var(--basic-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-txt-cl);
}
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  /*для визуального эфекта во время работы*/
  /* outline: 1px solid red; */
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.btn {
  align-items: center;
  letter-spacing: 0.04em;

  font-family: var(--basic-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  cursor: pointer;
  border: none;
}
.text-center {
  text-align: center;
}
.title-two {
  margin: 0 auto 72px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  text-align: center;
  text-transform: capitalize;
  color: var(--navyblue-dark-txt-cl);
}
.title-third {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--navyblue-dark-txt-cl);
}
.description-txt {
  color: var(--slate-txt-cl);
}
.text-five {
  font-weight: 500;
  font-size: 16px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*-----social-icons-----*/
.social-media-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--ident);
}
.social-media-item {
  width: 40px;
  height: 40px;
}
.social-media-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  border-radius: 50%;

  transition: background-color var(--transit);
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--ident);
}
.card-item {
  flex-basis: calc((100%- var(--ident) * (var(--items)-1)) / var(--items));
}

.nav-link.current::after {
  content: '';
  position: absolute;

  left: 0;
  bottom: -1px;

  width: 100%;
  height: 4px;
  border-radius: 2px;

  background-color: var(--pressed-txt-cl);
}

/*########## Individual Styles ##########*/

/*======= HEADER =======*/
.section-header {
  border-bottom: 1px solid var(--accent-txt-cl);
}
.header-nav {
  display: flex;
  align-items: center;
}
/*-----logo-----*/
.logo-site {
  margin-right: 76px;

  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-logo-cl);
}
.logo-color {
  color: var(--navyblue-dark-txt-cl);
}
.logo-color-second {
  color: var(--cloud-light-bg-cl);
}
/*-----navigation-----*/
.nav-list {
  display: flex;
  align-items: center;
}
.nav-item:not(:last-child) {
  margin-right: 40px;
}
.nav-link {
  position: relative;

  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  font-style: normal;
  font-weight: 500;
  color: var(--navyblue-dark-txt-cl);

  /* font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em; */

  /* transition: color var(--transit); */
}
.nav-link:hover,
.nav-link:focus {
  color: var(--pressed-txt-cl);
}
.nav-list a,
.contact-list a {
  transition: color var(--transit);
}

/*-----contact-----*/
.contact-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.contact-item + .contact-item {
  margin-left: 40px;
}
.contact-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  font-style: normal;
  line-height: 1.5;
  color: var(--slate-txt-cl);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--pressed-txt-cl);
}

/*======= HERO =======*/
.hero {
  background-color: var(--navyblue-dark-bg-cl);
}
.section-hero {
  padding-top: 188px;
  padding-bottom: 188px;
  max-width: 1440px;
  margin: 0 auto;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/people-office-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-title {
  width: 494px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;

  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: var(--basic-white-txt-cl);
}
.container-elements {
  text-align: center;
}
.hero-btn {
  display: inline-block;
  padding: 16px 32px;
  min-width: 169px;

  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  color: var(--basic-white-txt-cl);
  background-color: var(--primary-bg-cl);
  /* border: none; */

  transition: background-color var(--transit);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--pressed-bg-cl);
}

/*======= ADVANTAGE =======*/
.section-advantage {
  padding-top: 120px;
  padding-bottom: 120px;
}
.advantage-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  /* height: 112px; */
  margin-bottom: 8px;

  border-radius: 4px;
  background-color: var(--cloud-light-bg-cl);
}
.icon-advantage {
  height: 112px;
}
.advantage-list {
  display: flex;
  flex-wrap: wrap;
  margin: -12px;
}
.advantage-item {
  width: 264px;
  margin: 12px;
}
.advantage-title {
  margin-bottom: 8px;
}

/*======= BENEFITS =======*/
.section-benefits {
  padding-bottom: 120px;
}
.benefits-list {
  display: flex;
  flex-wrap: wrap;
}
.benefits-list + .benefits-list {
  margin-left: 24px;
}

/*======= TEAM =======*/
.team {
  background-color: var(--cloud-light-bg-cl);
}
.section-team {
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  --items: 4;
  gap: var(--ident);
}
.team-item {
  background-color: var(--basic-white-bg-cl);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-item-content {
  padding: 32px 16px;
}
.team-name {
  margin-bottom: 8px;
}
.team-position {
  margin-bottom: 8px;
}

/*-----team-icons-----*/
.social-media-link.icon-blue {
  fill: var(--cloud-light-bg-cl);
  background-color: var(--primary-bg-cl);
}
.social-media-link:focus,
.social-media-link:hover {
  background-color: var(--pressed-bg-cl);
}

/*======= CUSTOMERS =======*/
.customers-section {
  padding-top: 130px;
  padding-bottom: 120px;
}
.customers-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--ident);
}
.customers-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 168px;
  height: 88px;

  fill: var(--border-cl);
  /* background-color: var(--border-cl); */

  border: 1px solid var(--border-cl);
  border-radius: 4px;

  transition: fill var(--transit), border-color var(--transit);
}
.customers-link:focus,
.customers-link:hover {
  border-color: var(--pressed-bg-cl);
  fill: var(--pressed-bg-cl);
}

/*======= FOOTER=======*/
.section-footer {
  padding: 100px 0px;
}
.footer {
  background-color: var(--navyblue-dark-bg-cl);
}
.footer-box {
  display: flex;
  align-items: baseline;
}

/*-----footer-logo-----*/
.footer-box-logo {
  margin-right: 120px;
}
.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
  line-height: calc(21 / 18);
}
.footer-description {
  width: 264px;
  color: var(--accent-txt-cl);
}

/*-----social-media-----*/
.footer-social-title,
.footer-form-title {
  display: inline-block;
  margin-bottom: 16px;

  color: var(--basic-white-txt-cl);
}

/*-----footer-icons-----*/
.footer-social-media {
  margin-right: 80px;
}
.footer-social-media .social-media-list {
  gap: 16px;
}

.social-media-link.icon-grey {
  fill: var(--cloud-light-bg-cl);
  background-color: rgba(255, 255, 255, 0.1);
}
.social-media-link.icon-grey:focus,
.social-media-link.icon-grey:hover {
  background-color: var(--green-bg-cl);
}

/*-----subscribe-form-----*/
.subscribe-form {
  /* flex-grow: 1; */
  display: flex;
  width: 100%;
  gap: var(--ident);
}
.footer-form-title {
  display: inline-block;
}
.footer-form-input {
  padding: 7px 15px;

  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;

  color: rgba(255, 255, 255, 0.6);

  width: 264px;
  height: 40px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  background-color: transparent;
}
.footer-btn-submit {
  padding: 8px 23px;
  min-width: 165px;

  display: flex;
  align-items: center;
}
.icon-subscribe {
  fill: var(--basic-white-bg-cl);
  margin-left: 16px;
}

/*======= PORTFOLIO =======*/
.section-portfolio {
  padding: 96px 0 120px;
}

/*-----top-line-----*/
.filter-portfolio {
  display: flex;
  justify-content: center;
  gap: var(--ident);
  margin-bottom: 72px;
}
.filter-btn {
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid var(--accent-txt-cl);

  color: var(--primary-txt-cl);
  background-color: var(--cloud-light-bg-cl);

  transition: color var(--transit), background-color var(--transit),
    border-color var(--transit), box-shadow var(--transit);
}
.filter-btn:hover,
.filter-btn:focus {
  color: var(--basic-white-txt-cl);

  background-color: var(--pressed-bg-cl);

  border-color: transparent;

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*-----card-----*/
.portfolio-item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);

  transition: box-shadow var(--transit);
}
.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-img-box {
  position: relative;
  overflow: hidden;
}
.portfolio-card-overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  padding: 40px 32px;

  color: var(--cloud-light-txt-cl);
  background-color: var(--primary-bg-cl);

  /* opacity: 1; */

  transform: translateY(100%);
  transition: transform var(--transit);
}
.portfolio-item:hover .portfolio-card-overlay {
  transform: translateY(0);
}
.portfolio-card-descr {
  padding: 32px 16px;
  border-right: 1px solid var(--accent-txt-cl);
  border-bottom: 1px solid var(--accent-txt-cl);
  border-left: 1px solid var(--accent-txt-cl);
}
.portfolio-item:hover .portfolio-card-descr {
  border-color: var(--cloud-light-bg-cl);
}
.portfolio-card-descr .title-third {
  margin-bottom: 8px;
}
.portfolio-list.card-set {
  row-gap: 48px;
}

/* MODAL-WINDOW */
.backdrop {
  position: relative;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: var(--backdrop-bg-cl);

  transition: opacity var(--transit), visibility var(--transit);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  transition-delay: 100ms;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  /* top: calc(50% - 288px);
  left: calc(50% - 204px); */

  width: 408px;
  min-height: 576px;

  padding: 72px 24px 24px 24px;

  border-radius: 4px;

  background-color: var(--modal-bg-cl);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transform: translate(-50%, -50%);
  /* transform: scaleX(1); */
  transition-delay: 200ms;
  transition: transform var(--transit), opacity var(--transit);
}
.backdrop.is-hidden .modal {
  opacity: 0;
  /* transform: scaleX(0); */
  transform: translate(-50%, -80%);
}
.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  fill: #000000;

  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--accent-bg-cl);

  transition: background-color var(--transit), border-color var(--transit),
    fill var(--transit);
}
.modal-btn:focus,
.modal-btn:hover {
  background-color: var(--pressed-bg-cl);
  fill: var(--basic-white-txt-cl);
}
.modal-icon {
  /* fill: #000000; */
}
/*-----modal-form-----*/
.modal-title {
  display: block;
  text-align: center;

  margin-bottom: 16px;

  color: var(--navyblue-dark-txt-cl);
}
.modal-form-label {
  display: block;
  
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;

  letter-spacing: 0.04em;

  color: var(--grey-txt-cl);
}
.modal-form-input {
  display: block;

  width: 100%;
  height: 40px;

  padding: 8px 38px;


  border: 1px solid rgba(33, 33, 33, 0.2);

  border-radius: 4px;

  transition: border-color var(--transit);
}
.modal-form-input:focus {
  outline: none;
  border-color: var(--primary-txt-cl);
}
.modal-form-group {
  position: relative;
  margin-bottom: 8px;
}
.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  pointer-events: none;

  transition: fill var(--transit);
}
.modal-form-input:focus + .modal-form-icon {
  fill: var(--primary-bg-cl);
}

.modal-form-comment {
  display: block;
  width: 100%;
  height: 120px;
  padding: 7px 15px;

  margin-bottom: 16px;

  font-size: 12px;

  resize: none;
}
.modal-form-comment::placeholder {
  /* font-size: 12px; */
  letter-spacing: 0.04em;
  line-height: 1.33;
  color: rgba(117, 117, 117, 0.5);
}


.modal-form-policy {
  display: flex;
  align-items: center;
  /* justify-content: center; */

  margin-bottom: 24px;
}

.policy-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 16px;
  height: 16px;
  margin-right: 8px;

  border: 1.25px solid var(--navyblue-dark-bg-cl);
  border-radius: 2px;

  transition: border-color var(--transit), border var(--transit), background var(--transit);
}
.police-icon {
  opacity: 0;
  transition: opacity var(--transit), fill var(--transit);
}

.modal-policy-checkbox:checked + .policy-icon-box {
  background-color: var(--pressed-txt-cl);
  border-color: var(--pressed-bg-cl);
}
.modal-policy-checkbox:checked + .policy-icon-box > .police-icon {
  opacity: 1;
  fill: var(--cloud-light-bg-cl);
}

.modal-policy-text {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;

  user-select: none;

  color: #757575;
}
.modal-policy-link {
  color: var(--primary-txt-cl);
  transition: color var(--transit);
}

.modal-form-btn {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/** Пробные
  |============================
  | .modal-policy-checkbox:focus-within > policy-icon-box {
      border-color: var(--pressed-bg-cl);
    }

    .modal-policy-checkbox:focus + .policy-icon-box {
      border-color: var(--pressed-bg-cl);
    }

    .modal-policy-checkbox:not(:focus) + .policy-icon-box {
        border-color: var(--navyblue-dark-bg-cl);
      }



    .policy-icon-box:focus {
      border-color: var(--pressed-bg-cl);
    }

    .modal-form-policy:focus + .policy-icon-box {
      border-color: var(--pressed-bg-cl);
    }

    .policy-icon-box:focus-within > police-icon {
      border: 1.25px solid var(--pressed-bg-cl);
      border-color: var(--pressed-bg-cl);
    }
  |============================
*/

/** вариант checkbox 1
  |============================

 .policy-icon-box {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 16px;
    height: 16px;
    margin-right: 8px;

    border: 1.25px solid var(--navyblue-dark-bg-cl);
    border-radius: 2px;

    transition: border-color var(--transit), border var(--transit), background var(--transit);
  }


  .modal-policy-checkbox:focus + .policy-icon-box {
    border-color: var(--pressed-bg-cl);
  }


  .modal-policy-checkbox:checked + .policy-icon-box {
    background: var(--pressed-bg-cl);
    border: transparent;
  }


  .police-icon {
    opacity: 0;
    transition: opacity var(--transit), fill var(--transit);


  }
  .modal-policy-checkbox:focus + .policy-icon-box .police-icon {
    opacity: 1;
    fill: var(--cloud-light-txt-cl);
  }


  |============================
*/

/** Ярослав checkbox
  |============================
  .modal-policy-checkbox {
    appearance: none;
    display: block;
    width: 16px;
    height: 16px;

    border: 1.25px solid var(--navyblue-dark-bg-cl);
    border-radius: 2px;
  }
  .modal-policy-checkbox:checked {
    background-color: var(--pressed-bg-cl);
    border-color: var(--pressed-bg-cl);

    transition: var(--transit);
  }
  |============================
*/
