
Репета таблица с минусовыми мардженами
.section-advantage {
  padding-top: 120px;
  padding-bottom: 120px;
}
.advantage-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  /* height: 112px; */
  margin-bottom: 8px;

  border-radius: 4px;
  background-color: var(--cloud-light-bg-cl);
}
.icon-advantage {
  height: 112px;
}
.advantage-list {
  display: flex;
  flex-wrap: wrap;
  margin: -12px;
}
.advantage-item {
  width: 264px;
  margin: 12px;
}

.advantage-title {
  margin-bottom: 8px;
}

/* ---Медиа запросы Advantage--- */
/* 768 MAX-width -------------------------*/
@media screen and (max-width: 767px) {
  /* .advantage-item:not(:last-child) {
  margin-bottom: 72px;
  } */
}
/* 768 min-width -------------------------*/
@media screen and (min-width: 768px) {
  .advantage-item {
    width: 356px;
    margin: 12px;
  }
  .advantage-list {
    margin: -12px;
  }
}
/* 1200 MAX-width -------------------------*/
@media screen and (max-width: 1199px) {
  .advantage-icon-box {
    display: none;
  }
}
/* 1200 min-width ------------------------*/
@media screen and (min-width: 1200px) {
  .section-advantage {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .advantage-item {
    width: 264px;
  }
}


.advantage-item:not(:last-child) {
  margin-bottom: 72px;
  }